<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">{{vm. titulo}}</h1>
</div>
<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Documento</label>
            <input ng-class="{ 'is-invalid': vm.errors.documento }" ng-model="vm.cliente.documento" type="text" class="form-control">
            <div ng-if="vm.errors.documento" class="invalid-feedback">{{vm.errors.documento[1]}}</div>
        </div>
    </div>
    <div class="form-group">
        <label>Nome</label>
        <input ng-class="{ 'is-invalid': vm.errors.nome }" ng-model="vm.cliente.nome" type="text" class="form-control">
        <div ng-if="vm.errors.nome" class="invalid-feedback">{{vm.errors.nome[1]}}</div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Telefone</label>
            <input ng-class="{ 'is-invalid': vm.errors.telefone }" ng-model="vm.cliente.telefone" type="text" class="form-control">
            <div ng-if="vm.errors.telefone" class="invalid-feedback">{{vm.errors.telefone[1]}}</div>
        </div>
        <div class="form-group col-md-6">
            <label>Email</label>
            <input ng-class="{ 'is-invalid': vm.errors.email }" ng-model="vm.cliente.email" type="email" class="form-control">
            <div ng-if="vm.errors.email" class="invalid-feedback">{{vm.errors.email[1]}}</div>
        </div>
    </div>
    <div class="mb-2 text-lg-right">
        <button ng-click="vm.save()" type="button" class="btn btn-success">Salvar</button>
        <button ui-sref="clientes" type="button" class="btn btn-outline-danger">Cancelar</button>
    </div>
</form>