<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Listagem de clientes</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a ui-sref="clientesNovo" class="btn btn-sm btn-outline-success">
            <span class="fa fa-plus"></span>
            Novo cliente
        </a>
    </div>
</div>
<form class="form-inline d-block">
    <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
            <label class="my-1 mr-2">Filtrar por nome</label>
        </div>
        <input ng-model="vm.filter" type="text" class="form-control">
        <div class="input-group-append">
            <button ng-click="vm.limpar()" type="button" class="btn btn-sm btn-light border">X</button>
        </div>
        <div class="input-group-append">
            <button ng-click="vm.filtrar()" type="button" class="btn btn-sm btn-success">Buscar</button>
        </div>
        
    </div>
</form>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Documento</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.clientes">
                <td>{{item.documento}}</td>
                <td>{{item.nome}}</td>
                <td>{{item.email}}</td>
                <td>{{item.telefone}}</td>
                <td class="text-right">
                    <a ui-sref="clientesEditar({ id: item.id })" class="btn p-0 btn-sm btn-link">
                        <i class="fa fa-edit"></i>
                    </a>
                    <button ng-click="vm.remove(item.id)" class="btn p-0 btn-sm btn-link" type="button">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="Navegação de página exemplo">
        <ul class="pagination justify-content-end">
            <li ng-class="{ disabled: vm.page == 1 }" class="page-item">
                <a class="page-link" ng-click="vm.anterior()" href="#" tabindex="-1">Anterior</a>
            </li>
            <li ng-repeat="item in vm.pages" class="page-item"><a class="page-link" ng-click="vm.setPage(item)" href="#">{{item}}</a></li>
            <li ng-class="{ disabled: vm.finish }" class="page-item">
                <a class="page-link" ng-click="vm.proxima()" href="#">Próximo</a>
            </li>
        </ul>
    </nav>
</div>